/* 
======================
Cascading Style Sheets 
======================
*/

/* [General Styling] ::start */
html, body {
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    margin: 0;
    height: 100%;
    background: #ddd;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* ===== [Header Section] ::start ===== */
/* [Headings] ::start */
.hd-1 {
    margin: 0;
    font-size: 3.0em;
    float: left;
}
.hd-1 a {
    color: #333;
	text-shadow: 1px 1px 1px #ccc, 3px 3px 5px #000;
	text-decoration: none;
}
/* [Headings] ::end */

/* [Navigation] ::start */
.site-nav {
    padding: 35px 0 5px;
    margin-bottom: 30px;
    text-align: right;
    border-bottom: 1px solid #999;
}

.site-nav li { display: inline-block; }

.site-nav li a {
    margin-left: 20px;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px #ccc;
}
.site-nav li a:hover {
    color: #000;
    text-decoration: underline;
}
/* [Navigation] ::end */
/* ===== [Header Section] ::end ===== */

#main-content {
    margin: 0 auto;
    padding: 20px;
    max-width: 960px;
    width: 100%;
    /*background: #4F4F4F;*/
}

.inner-content {  }

.backslidr {
    display: inline-block;
    margin: 0 auto 20px;
    width: 960px;
    height: 600px;
}

.backslidr-items .backslidr-item {
    float: left;
    display: none;
}
/*.backslidr-items .backslidr-item:first-child { display: block; }*/

.backslidr-th { text-align: center; }

.backslidr-th li { display: inline-block; }

.backslidr-th li a {
    display: block;
    float: left;
    margin: auto 20px;
}
.backslidr-th li a:hover,
.backslidr-th li a.active {
	opacity: 0.5;
}
/* [General Styling] ::end */


