/* 
======================
Cascading Style Sheets 
======================
*/

/* [General Styling] ::start */
html, body {
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    margin: 0;
    height: 100%;
    background: #000;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* [Headings] ::start */
.hd-1 {
    margin: 0;
    color: #fff;
    /* text-shadow: 0 2px 3px #ddd; */
    font-size: 3.0em;
    float: left;
}
/* [Headings] ::end */

/* [Navigation] ::start */
.site-nav {
    padding: 20px 0 30px;
    margin-bottom: 30px;
    text-align: right;
    border-bottom: 1px solid #555;
}

.site-nav li { display: inline-block; }

.site-nav li a {
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #555;
    color: #ccc;
    text-decoration: none;
    font-size: 1.2em;

    box-shadow: 
    0 1px 2px #999, /*bottom external highlight*/
    0 -1px 1px #999, /*top external shadow*/ 
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
    inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}
.site-nav li a:hover {
    background: #ccc;
    color: #000;
}
/* [Navigation] ::end */

#main-content {
    margin: 0 auto;
    padding: 20px;
    max-width: 960px;
    width: 100%;
    /*background: #4F4F4F;*/
}

.inner-content {  }

.backslidr {
    display: inline-block;
    margin: 0 auto 20px;
    width: 960px;
    height: 600px;
}

.backslidr-items .backslidr-item {
    float: left;
    display: none;
}
.backslidr-items .backslidr-item:first-child { display: block; }

.backslidr-th { text-align: center; }

.backslidr-th li { display: inline-block; }

.backslidr-th li a {
    display: block;
    float: left;
    margin: auto 20px;
}
.backslidr-th li a:hover { opacity: 0.5; }
/* [General Styling] ::end */
